DEBUG=True
NEWSAPI_KEY=<your-news-api-key>
DJANGO_SECRET_KEY=<super-duper-secret-key>
BING_SUBSCRIPTION_KEY=<your-bing-api-key>
SENTRY_DSN=<your-sentry-dsn-url>
LOG_LEVEL=DEBUG
SITE_URL=http://localhost:8000