{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}

<!-- Search -->
<main class="mt-5 md:mt-10">
    {% include "search.html" with source=sources %}
</main>
<!-- search ends here -->


<main class="mt-12" id="display-articles">
    <!-- featured section -->
    {% include "articles/featured_articles.html" with lead_article=lead_article featured_articles=featured_articles %}
    <!-- end featured section -->

    <!-- search results -->
    <div id="search-results"></div>


    <!-- recent posts -->
    {% include "articles/recent_articles.html" with recent_articles=recent_articles %}

</main>
<!-- main ends here -->

{% endblock content %}