{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Daca News - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/tailwind.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block styles %}{% endblock %}
</head>

<body>
    {% block body %}
    <div id="app" class="antialiased text-gray-800 bg-gray-200" style="min-width: 1280px; min-height: 100vh;">
        {% block content %}{% endblock %}
        <div class="w-full h-12"></div>
    </div>

    <!-- Version and Dev signature -->
    <div class="fixed bottom-0 left-0 pl-2 pb-2 text-xs text-gray-500">
        <p>{{ version }}</p>
        <p>by <a class="text-green-500" href="https://github.com/sjbitcode" target="_blank">@sjbitcode</a></p>
    </div>

    <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
    {% block scripts %}{% endblock %}
    {% endblock %}
</body>

</html>